<h1>The Quizery Creation Zone</h1>

<h2 class ="createNewQuiz">Create a New Quiz</h2>
  
<container class = "createQuizSteps">
  
  <div class="nameAndCategory">
    <button>Pick Name and Category</button>
    <div class = "step1">
    </div>
  </div>

  <div class="addQuestions">
    <button>Add Questions</button>
    <div class = "step2">
    </div>
  </div>

  <div class="setTimeLimit">
    <button>Set Time Limit</button>
    <div class = "step3">
    </div>
  </div>

</container>

<div class="pastQuizzes">
</div>