/****************
TEACHER DASHBOARD
****************/

.step1, .step2, .step3{
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  display: none;
}

.loginForm{
  display: none;
}

.quizForm, .newQuizForm{
  display: none;
  border: 1px solid black;
  padding: 10px;
  width: 50%;
}

.newQuiz{
  margin: 40px;
  margin-top: 50px;
  line-height: 18pt;
  width: 100%;
}

.createQuiz img{
  width: 10%;
}

.createQuiz a {
  text-decoration: none;
  color: black;
}

.createQuiz a:hover{
  color: #86ae47;
}

.createQuiz{
  padding-top: 40px;
  padding-left: 40px;
}




